# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\DEVELOP PROJECTS\Game-of-Go\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
